In [1]:
import pandas as pd
import numpy as np

ser=pd.Series([10,20,30,40])
ser

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
data={
    "name":["Rohit","Raj","Riya","Sajiri","Priyashu"],
    "city":["Pune","mumbai","Nashik","Nagpur","jalgaon"],
    "marks":[89,99,56,78,45]
}
df= pd.DataFrame(data)
print(df)

       name     city  marks
0     Rohit     Pune     89
1       Raj   mumbai     99
2      Riya   Nashik     56
3    Sajiri   Nagpur     78
4  Priyashu  jalgaon     45

In [3]:
print(df[0:3])
print(df.iloc[0])

    name    city  marks
0  Rohit    Pune     89
1    Raj  mumbai     99
2   Riya  Nashik     56
name     Rohit
city      Pune
marks       89
Name: 0, dtype: object

In [4]:
df.to_csv('student.csv')

In [ ]:
employee={
    "eid":[101,102,103,104,105],
    "ename":["Rohit","Vijay","Harshal","Santosh","Durgesh"],
    "Salary":[70000,80000,75000,67000,76000],
    "Role":["HR","Oprator","Sale","Services","Newtworking"]
}
df=pd.DataFrame(employee)

#1,Show All Employee Data
# print(df)


#2.Show only first 3 columns info
# print(df.iloc[:,:3])

#3.Show last 3 column info
# print(df.iloc[:,-3:])

# 4.Show last 3 rows info
# print(df.tell(3))

# 5.show only sal columns
# print(df["Salary"])

#6.Show value of columns name role and row number 3(single value)
# print(df.loc[3,"Role"])

# #7 chnage index of dataframe as "first","Second "..like this
# df.index=["Firts","Second","Third","Four","Five"]
# print(df)

#8.show first 3 rows by iloc method
# print(df.iloc[:3])


#9.Convert dataframe into json like structure
# df.to_json("Employee.json")

#10.Show staticstic info of dataframe6
# print(df.describe())

#11.

In [10]:
product={
    "pid":[101,102,103,104,105],
    "pname":["Mobile","Laptop","pen","Pencil","Chair"],
    "Price":[56000,78000,100,50,1200],
    "stock":[60,100,30,40,50],
    "category":["electonics","electronics","stationary","stationary","furniture"]
}
df1=pd.DataFrame(product)
print(df1)

   pid   pname  Price  stock     category
0  101  Mobile  56000     60   electonics
1  102  Laptop  78000    100  electronics
2  103     pen    100     30   stationary
3  104  Pencil     50     40   stationary
4  105   Chair   1200     50    furniture

In [20]:
# print(df1[df1["Price"]>5000])
# print(df1[df1["category"]=="electonics"])
# print(df1[(df1["Price"]>10]) & (df1[df1["category"]=="stationary"]))

print(df1[(df1["Price"]>20) & (df1["category"]=="stationary")])

   pid   pname  Price  stock    category
2  103     pen    100     30  stationary
3  104  Pencil     50     40  stationary

In [19]:
# df1.sort_index(axis=1)
df1.sort_index(axis=0,ascending=False)

   pid   pname  Price  stock     category
4  105   Chair   1200     50    furniture
3  104  Pencil     50     40   stationary
2  103     pen    100     30   stationary
1  102  Laptop  78000    100  electronics
0  101  Mobile  56000     60   electonics